// CONFIG
$fontstack: Helvetica, arial, sans-serif;

// spacing
$baseline: 16px;


// colour
$colour: #444444;
$colour-accent: #007C98;
$colour-navy-blue: #00192E;
$colour-med-grey: #B9B9B9;
$colour-light-grey: #DCDCDC;
