@import "reset";
@import "config";
@import "typography";

img {
  max-width: 100vw;
  max-height: 100vh;
  @media all and (orientation: landscape) and (max-width: 700px) {
    max-height: 85vh;
  }

}
.track {
  @media all and (max-width: 400px) {
    padding-top: $baseline*4;
  }
}


#summary, .infoDetail {
  display: none;
  max-width: 80vw;
  max-height: 90vh;
  padding: $baseline*2;

  h1 {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: $baseline;
    @media all and (orientation: landscape) and (max-width: 700px) {
      font-size: 2rem;
      margin-bottom: 0;
    }
  }

  strong {
    font-weight: bold;
  }

  h2 {
    margin-bottom: $baseline/4;
    font-size: 2rem;
  }

  .content {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 80vw;
    flex-wrap: wrap;

    div {
      margin-right: $baseline*2;
      min-width: 150px;
    }
  }

  p {
    margin-bottom: 5px;

    @media all and (orientation: landscape) and (max-width: 700px) {
      font-size: 1rem;
    }
  }
}

area {
  cursor: pointer;
}

.summaryTab {
  position: absolute;
  bottom: 30px;
  left: 45%;
  cursor: pointer;

  @media all and (orientation: landscape) and (max-width: 700px) {
    left: 30%;
    bottom: 70px;
  }

  p {
    width: 150px;
    height: 50px;
    text-align: center;

    color: #fff;
    line-height: 50px;
    font-size: 2rem;
    margin: 0;
    /* Rectangle: */
    background: #00BD5D;
    border: 1px solid #00B057;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.15);
    border-radius: 5px;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all ease 0.3s;
    &:hover {
      background: #00B057;
    }
    &:active {
      margin-bottom: -3px;
      background: #00B057;
    }

    @media all and (orientation: landscape) and (max-width: 700px) {
      height: 36px;
      line-height: 36px
    }
  }

}



.clear, .infoTab {
  position: absolute;
  top: $baseline;
  left: $baseline;
  cursor: pointer;

  p {
    display: inline-block;
    padding: 0 $baseline*2;
    line-height: 40px;
    background: $colour-med-grey;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #818089;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.15);
    border-radius: 5px;
    transition: all ease 0.3s;
    @media all and (orientation: landscape) and (max-width: 700px) {
      height: 36px;
      line-height: 36px;
      padding: 0 $baseline;
    }
  }
}

.infoTab {
  left: 150px;
  @media all and (orientation: landscape) and (max-width: 700px) {
    left: 120px;
  }
}

.infoDetail {
  li {
    list-style: circle;
    margin-left: $baseline*2;
  }

  @media all and (orientation: landscape) and (max-width: 700px) {
    p {
      font-size: 1.2rem;
    }
  }
}

// via https://www.w3schools.com/howto/howto_js_snackbar.asp

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.sidebar {
  display: none;

  // temp until grid is ready

  position: absolute;
  top: 0;
  right: 0;
  // width: 350px;
  background: #F0F0F0;
  height: 100vh;

  .closeButton {
    float: left;
    margin-left: -(100px + $baseline);
    width: 100px;
    height: 100px;
    cursor: pointer;

    p {
      width: 100px - $baseline;
      text-align: center;
      line-height: 100px - $baseline;
      font-size: 50px;
      margin: 0;
      font-weight: bold;
      background: $colour-med-grey;
      color: #fff;
      border: 1px solid #818089;
      box-shadow: 0 10px 30px 0 rgba(0,0,0,0.15);
      border-radius: 5px;
      transition: all ease 0.3s;
    }
  }

  // temp ends

  border-left: 2px solid #ccc;
  padding: $baseline;

  p {
    margin-top: $baseline*2;
    @media all and (orientation: landscape) and (max-width: 700px) {
      margin-top: $baseline;
    }
  }
  h1 {

    @media all and (orientation: landscape) and (max-width: 700px) {
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
  ul {
    display: flex;
    flex-direction: row;


    button {
      width: 150px;
      padding: $baseline 0;
      margin-right: $baseline;
      background: $colour-light-grey;
      border-radius: 5px;
      border: 1px solid #D6D6D6;
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
      transition: all ease 0.3s;

      @media all and (orientation: landscape) and (max-width: 700px) {
        font-size: 1.4rem;
        padding: $baseline/2 0;
      }

      strong {
        font-weight: bold;
      }

      &:active {
        margin-bottom: -3px;
        background: #d6d6d6;
      }

    }
    .selected button {
      background: #00BD5D;
      border: 1px solid #00B057;
      color: #fff;
    }
  }
}
