@import "reset";
@import "config";
@import "typography";

img {
  max-width: 100%;
}


.summary {
  //display: none;
  width: 100vw;
  height: 100vh;
  padding: $baseline*2;
}

area {
  cursor: pointer;
}

.summaryTab {
  position: absolute;
  bottom: 0;
  left: 45%;

  p {
    width: 150px;
    height: 50px;
    text-align: center;
    background: tomato;
    color: #fff;
    line-height: 50px;
    font-size: 2rem;
    margin: 0;
  }

}


.sidebar {
  display: none;

  // temp until grid is ready

  position: absolute;
  top: 0;
  right: 0;
  // width: 350px;
  background: #fff;
  height: 100vh;

  .closeButton {
    float: left;
    margin-left: -(100px + $baseline);
    width: 100px;
    height: 100px;
    background: tomato;
    color: #fff;
    cursor: pointer;
    p {
      width: 100px;
      text-align: center;
      line-height: 100px;
      font-size: 50px;
      margin: 0;
      font-weight: bold;
    }
  }

  // temp ends

  border-left: 2px solid #ccc;

  padding: $baseline;

  p {
    margin-top: $baseline*2;
  }
  ul {
    display: flex;
    flex-direction: row;


    button {
      width: 150px;
      padding: $baseline 0;
      margin-right: $baseline;

    }
    .selected button {
      background: tomato;
      color: #fff;
    }
  }
}
